html, body { 
  overflow-x: hidden; 
  overflow-y: hidden;
}

.logo-label {
  font-size: xx-large;
}

ion-header.main {
  box-shadow: none !important;
}

ion-header.modal-header{
  box-shadow: none !important;
}

ion-header.modal-header .toolbar {
  background-color: var(--ion-color-primary);
}

img.logo {
  width: 30px;
  height: 30px;
}

.histogram-parameters {
  overflow-y: scroll;
}

.edit-plan-button {
  position:absolute;
}

.add-hive-button {
  position:absolute;
  right: 5px;
}

.hive:hover {
  cursor: pointer;
}

.hive.dragged {
  cursor: grab;
}

.add-apiary-plus-icon {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
}


:root {
  /* Set 'primary' color to the value of 'warning' color */
  --ion-color-primary: var(--ion-color-warning);
  --ion-color-primary-rgb: var(--ion-color-warning-rgb);
  --ion-color-primary-contrast: var(--ion-color-warning-contrast);
  --ion-color-primary-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-primary-shade: var(--ion-color-shade);
  --ion-color-primary-tint: var(--ion-color-tint);

  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
}