html, body { 
  overflow-x: hidden; 
  overflow-y: hidden;
}

.histogram-parameters {
  overflow-y: scroll;
}

.edit-plan {
  position:absolute;
}

.hive:hover {
  cursor: pointer;
}

.hive.dragged {
  cursor: grab;
}