html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#apiary-plan {
  border-top: 1px solid black;
}

.logo-label {
  font-size: xx-large;
}

ion-header.main {
  box-shadow: none !important;
}

ion-header.modal-header {
  box-shadow: none !important;
}

ion-header.modal-header .toolbar {
  background-color: var(--ion-color-primary);
}

img.logo {
  width: 30px;
  height: 30px;
}

.histogram-parameters {
  overflow-y: scroll;
}


.add-hive-button {
  position: absolute;
  right: 5px;
}

.edit-plan-button {
  position: absolute;
  right: 5px;
  top: 50px;
}

.zoom-plan-button {
  position: absolute;
  right: 5px;
  top: 95px;
}

.hive:hover {
  cursor: pointer;
}

.hive.dragged {
  cursor: grab;
}

.hive.selected-hive {
  opacity: 1;
}

.hive.deselected-hive {
  opacity: 0.3;
}

/* .truncate-long-text {
  display: inline-block;
  width: 170px;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow:hidden;    
  white-space: nowrap;
}

.truncate-long-text:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
} */

ion-chip {
  user-select: none;
}

ion-chip.selected {
  background-color: var(--ion-color-warning);
}

.add-apiary-plus-icon {
  cursor: pointer;
  /* width: 100px; */
  height: 160px;
}

.apis-filters-controls {
  margin-top: 20px;
  float: 'right';
  border-bottom: '1px solid black';
  width: '100%';
}

.apis-drone-box {
  width: '400px';
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: white;

  &.apis-open {
    border: 1px solid var(--ion-color-primary);
  }

}

.apis-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.apis-drone-img {
  width: 100px;
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  &.apis-active {
    opacity: 1;
  }
}

.apis-drone-content {
  display: none;
  transition: 2s ease;

  &.apis-open {
    display: block;
  }
}

.apis-hive-card-status-icon {
  width: 48px;
  height: 48px;
  border: 1px solid lightgray;

  &.apis-null {
    border: none;
    opacity: 0.3;
  }
}

.hive-card {
  cursor: pointer;
}

/* Set 'primary' color to the value of 'warning' color */
:root {
  --ion-color-primary: var(--ion-color-warning);
  --ion-color-primary-rgb: var(--ion-color-warning-rgb);
  --ion-color-primary-contrast: var(--ion-color-warning-contrast);
  --ion-color-primary-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-primary-shade: var(--ion-color-shade);
  --ion-color-primary-tint: var(--ion-color-tint);
}

/* :root {
  --ion-color-primary: #006600;
  --ion-color-primary-rgb: 0, 102, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005a00;
  --ion-color-primary-tint: #1a751a;
} */